/*
 * nav系
 */
nav {
  box-shadow: none;
  background-color: transparent;
}
nav .container .nav-wrapper a {
  color: #bdbdbd;
}
nav ul a {
  font-size: 1.2em;
}
nav i.material-icons {
  font-size: 1.2em;
}
nav .brand-logo {
  font-size: 1.5em;
}

/*
 * 記事詳細
 */
/* 記事タイトル */
.article-show h1 {
  font-size: 1.7em;
}
/* 見出し */
.article-show h2 {
  font-size: 1.5em;
  border-left: 10px solid #424242;
  border-bottom: 3px solid #424242;
  padding-left: 13px;
  padding-bottom: 3px;
  margin-top: 1.3em;
}
/*
 * リスト系
 */
.article-show ul {
  padding: 3px 10px;
  border: solid 2px #607d8b;
}
.article-show li{
  padding:0px;
  margin:0px;
}
.article-show li{
  list-style-type:none !important;
  list-style-image:none !important;
  margin: 10px 0px 5px 0px !important;
  position:relative;
  padding-left:25px;
}
.article-show li:after, .article-show li:before{
  content:'';
  display:block;
  position:absolute;
  top:4px;
  left:8px;
  height:11px;
  width:4px;
  background:#aaa;
  border-radius:10px;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -o-transform:rotate(45deg);
}
.article-show li:before{
  top:8px;
  left:3px;
  height:8px;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
}
.article-show pre {
  padding-left: 10px;
  border: solid 2px #607d8b;
}
.article-show code {
  /* margin-bottom: 10px;*/
  padding: 10px;
  border: solid 2px #607d8b;
}

/*
 * 記事編集
 */
/* highlight */
pre {
  background-color: #fff;
  padding: 0;
  border: none;
}

/* textarea */
.custom-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  /* transition:all .3s */
}

/* 削除ボタン */
.delete-btn {
  background-color: #ef9a9a;
}
.delete-btn:hover {
  background: #ef9a9a;
}