/*---------------------------------------
 * nav系
 *---------------------------------------*/
/* nav */
nav {
  box-shadow: none;
}
nav .nav-wrapper {
  /* padding: 0 10px; */
}
nav .container .nav-wrapper a {
  color: #bdbdbd;
}
nav ul li {
  display: inline-block;
  float: none;
}
nav ul a {
  font-size: 1.2em;
}
nav i.material-icons {
  font-size: 1.5em;
}
nav .brand-logo {
  font-size: 1.5em;
}
@media screen and (min-width: 993px) {
  nav a.button-collapse {
    display: inline;
  }
}
nav .hamburger-button {
  width: 6%;
  text-align: center;
}
.side-nav li {
  width: 100%;
}
.side-nav  a {
  font-size: 16px;
}
.side-nav a.btn {
  width: 100%;
  margin: 0;
}
.side-nav .userView {
  margin: 0;
}
.side-nav .userView img {
  object-fit: cover;
  max-width: 320px;
}
.side-nav .userView .name {
  color: #000;
  opacity: .87;
}
.side-nav .userView .email {
  padding-bottom: 0;
  color: #000;
  opacity: .54;
}
/* sns-logo */
.sns-logo i {
  /* padding-bottom: 32px; */
  /* margin: 0 32px 32px 0 !important; */
  /* height: 32px; */
}
.fa-twitter-square {
  font-size: 16px;
  color: skyblue !important;
}
.fa-facebook-square {
  color: navy !important;
}
.nav-search-wrapper {
  height: 100%;
  width: 50%;
  margin: 0 0 0 auto;
}
.nav-search-wrapper i.material-icons {
  font-size: 2em;
}
.nav-search-wrapper .input-field {
  padding: 5px 0;
}
.nav-search-wrapper .input-field input[type=search] {
  margin: 0;
}
.nav-search-wrapper .input-field input[type=search]:focus {
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.3em;
}
.nav-search-wrapper .input-field input[type=search]:focus+label i {
  color: #fff;
}
/*-------------------------------
 * actioin button
 *-------------------------------*/
.fixed-action-btn {
  bottom: 20px;
  right: 24px;
}
/*--------------------------
 * pagenation
 *--------------------------*/
 .pagination {
  margin-bottom: 1em;
 }
.pagination li.active {
  color: #f5f5f5;
  background-color: #009688;
}

/*-------------------------
 * parallax
 *-------------------------*/
.parallax-container {
  /* margin-bottom: 20px; */
}
.parallax-container .container h1 {
  font-family: 'Amatic SC', 'Condiment', cursive;
  font-size: 5em;
  font-weight: 800;
}

/*--------------------------------
 * chips
 *-------------------------------*/
.chips a {
  color:
}

/*-------------------------------------------------
 * topのスタイル
 *-------------------------------------------------*/
/* 記事タイトル */
#top-main-content .card .card-content h2 {
  font-size: 1.0em;
  font-weight: 400;
}
/* 記事画像 */
.card.horizontal .card-image {
  max-width: 34%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* 記事タイトル */
.card-stacked .card-content .card-title {
  line-height: 35px;
  opacity: .87;
  margin: 0 0 0.3em;
  border-bottom: 1px solid rgba(160, 160, 160, 0.5);
}
/* 記事のタイトルと説明の領域 */
.card .card-content {
  max-height: 120px;
  padding: 10px;
}
/* 記事の説明 */
.card .card-content p {
  font-weight: lighter;
  font-size: 0.9em;
  line-height: 1.5;
  opacity: .54;
}

@media screen and (max-width: 480px) {
  #top-main-content {
    width: 100%;
  }
  #top-main-content .pagination {
    margin: 0 10px 5px;
  }
  /* 記事タイトル */
  #top-main-content .card .card-content h2 {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #top-main-content .card .card-reveal .card-title {
    font-size: 1.2em;
  }
  .img-cover {
    width: 100%;
    height: auto;
  }
}

/*-----------------------------------------------
 * 記事詳細画面のスタイル
 *-----------------------------------------------*/
/* 横幅 */
@media screen and (min-width: 993px) {
  .article-show {
    width: 971px;
    margin: 0 auto;
  }
}
/* 記事タイトル */
.article-show h1 {
  font-size: 1.7em;
}
@media screen and (max-width: 480px) {
  .article-show h1 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
/* 見出し */
.article-show h2 {
  font-size: 1.5em;
  border-left: 10px solid #009688;
  border-bottom: 3px solid #009688;
  padding-left: 13px;
  padding-bottom: 3px;
  margin-top: 1.3em;
}
@media screen and (max-width: 480px) {
  .article-show h2 {
    font-size: 1.3em;
  }
}
/* 本文 */
.article-body p {
  line-height: 2em;
  margin-bottom: 20px;
}
.article-body p a {
  position: relative;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
  color: #3498db;
  word-wrap: break-word;
}
.article-body blockquote {
  border-left: 5px solid #90a4ae;
  background-color: #fff;
  font-style: italic;
  font-family: Lato;
}
.article-body blockquote p {
  margin: 0;
}
.article-body p a.block {
  display: block;
}
.article-body p a::after {
  content: '';
  position: absolute;
  width: 0;
  bottom: 0;
  left: 50%;
  height: 1.5px;
  background-color: #3498db;
  transition: .3s ;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.article-body p a:hover::after {
  width: 100%;
}
/*
 * リスト系
 */
.article-body h4.list-title {
  padding-left: 15px;
  border-left: solid 3px #ff80ab;
  font-size: 1.3em;
}
@media screen and (max-width: 480px) {
  .article-body h4.list-title {
    font-size: 1.2em;
  }
}
.article-body ul {
  margin-bottom: 20px;
}
.article-body li{
  position: relative;
  padding: 10px 45px;
  line-height: 1.5em;
}
.article-body li:after, .article-body li:before {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  left: 26px;
  height: 11px;
  width: 4px;
  background: #ff80ab;
  border-radius: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.article-body li:before {
  top: 22px;
  left: 21px;
  height: 8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.article-body pre {
  padding-left: 10px;
  border: solid 2px #607d8b;
}
.article-body code {
  display: block;
  width: 100%;
  height: 100%;
  border-left: 5px solid #90a4ae;
  background-color: #fff;
  font-style: italic;
  font-family: Lato;
  padding-left: 1.5rem;
}
.article-comment {
  /* margin: 15px auto; */
  border: solid 2px #607d8b;
}
.article-comment.comment-area {

}


/*---------------------------------------------
 *お問い合わせページ
 *---------------------------------------------*/
#contact-form p {
  margin-bottom: 2em;
}
@media screen and (max-width: 480px) {
  #contact-form h1 {
    font-size: 2em;
  }
}
#contact-form input {
    font-size: 1em;
}
#contact-form textarea {
    font-size: 1em;
}
#contact-form .input-field label {
    font-size: 0.85em;
}
#confirm-btn input {
  outline: 0;
}
@media screen and (max-width: 480px) {
  #contact-form .input-field label {
    font-size: 1em;
  }
  #contact-form #confirm-check-label {
    font-size: 0.8em;
  }
  #mail-success {
    font-size: 0.95em;
    line-height: 2em;
  }
}

/*---------------------------
 * SNS
 *---------------------------*/
.twitter-share-button {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 5%;
}
.fb-like {
  top: -8px;
}
