/*---------------------------------------
 * nav系
 *---------------------------------------*/
/* nav */
nav {
  box-shadow: none;
  background-color: transparent;
}
nav .container .nav-wrapper a {
  color: #bdbdbd;
}
nav ul a {
  font-size: 1.2em;
}
nav i.material-icons {
  font-size: 1.2em;
}
nav .brand-logo {
  font-size: 1.5em;
}
/* sideNav系 */
.side-nav a {
  font-size: 1em;
  color: #fff;
  border-bottom: solid 1px #fff;
  background-color: transparent;
}
.side-nav a.btn {
  width: 100%;
  margin: 0;
}
.side-nav li {
  padding: 0;
}
/*-------------------------------
 * actioin button
 *-------------------------------*/
.fixed-action-btn {
  bottom: 20px;
  right: 24px;
}
/*--------------------------
 * pagenation
 *--------------------------*/
.pagination li.active {
  color: #f5f5f5;
  background-color: #009688;
}

/*-------------------------
 * parallax
 *-------------------------*/
.parallax-container {
  margin-bottom: 20px;
}
.parallax-container .container h1 {
  font-family: 'Amatic SC', 'Condiment', cursive;
  font-size: 5em;
  font-weight: 800;
}
.parallax-container .container .btn-ghost {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid;
  border-color: #fff;
}

/*--------------------------------
 * chips
 *-------------------------------*/
.chips a {
  color:
}

/*-------------------------------------------------
 * topのスタイル
 *-------------------------------------------------*/
/* 記事タイトル */
#top-main-content .card .card-content h2 {
  font-size: 1.0em;
}
/* 記事画像 */
.card.horizontal .card-image {
  max-width: 34%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* 記事タイトル */
.card-stacked .card-content .card-title {
  line-height: 35px;
  margin: 0 0 0.3em;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}
/* 記事のタイトルと説明の領域 */
.card .card-content {
  padding: 10px;
}
/* 記事の説明 */
.card .card-content p {
  font-weight: lighter;
  font-size: 0.9em;
}

@media screen and (max-width: 480px) {
  #top-main-content {
    width: 100%;
  }
  #top-main-content .pagination {
    margin: 0 10px 5px;
  }
  /* 記事タイトル */
  #top-main-content .card .card-content h2 {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #top-main-content .card .card-reveal .card-title {
    font-size: 1.2em;
  }
  .img-cover {
    width: 100%;
    height: auto;
  }
}

/*-----------------------------------------------
 * 記事詳細画面のスタイル
 *-----------------------------------------------*/
/* 横幅 */
@media screen and (min-width: 993px) {
  .article-show {
    width: 971px;
    margin: 0 auto;
  }
}
/* 記事タイトル */
.article-show h1 {
  font-size: 1.7em;
}
@media screen and (max-width: 480px) {
  .article-show h1 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
/* 見出し */
.article-show h2 {
  font-size: 1.5em;
  border-left: 10px solid #009688;
  border-bottom: 3px solid #009688;
  padding-left: 13px;
  padding-bottom: 3px;
  margin-top: 1.3em;
}
@media screen and (max-width: 480px) {
  .article-show h2 {
    font-size: 1.3em;
  }
}
/* 本文 */
.article-body p {
  line-height: 2em;
}
/*
 * リスト系
 */
.article-show ul {
  padding: 3px 10px;
  border: solid 2px #607d8b;
}
.article-show li{
  padding:0px;
  margin:0px;
}
.article-show li{
  list-style-type:none !important;
  list-style-image:none !important;
  margin: 10px 0px 5px 0px !important;
  position:relative;
  padding-left:25px;
}
.article-show li:after, .article-show li:before{
  content:'';
  display:block;
  position:absolute;
  top:4px;
  left:8px;
  height:11px;
  width:4px;
  background:#aaa;
  border-radius:10px;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -o-transform:rotate(45deg);
}
.article-show li:before{
  top:8px;
  left:3px;
  height:8px;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
}
.article-show pre {
  padding-left: 10px;
  border: solid 2px #607d8b;
}
.article-show code {
  /* margin-bottom: 10px;*/
  padding: 10px;
  border: solid 2px #607d8b;
}
.article-comment {
  /* margin: 15px auto; */
  border: solid 2px #607d8b;
}
.article-comment.comment-area {

}


/*---------------------------------------------
 *お問い合わせページ
 *---------------------------------------------*/
@media screen and (max-width: 480px) {
  #contact-form h1 {
    font-size: 2em;
  }
}
#contact-form input {
    font-size: 1em;
}
#contact-form textarea {
    font-size: 1em;
}
#contact-form .input-field label {
    font-size: 0.85em;
}

@media screen and (max-width: 480px) {
  #contact-form .input-field label {
    font-size: 1em;
  }
  #contact-form #confirm-check-label {
    font-size: 0.8em;
  }
  #mail-success {
    font-size: 0.95em;
    line-height: 2em;
  }
}

/*---------------------------
 * SNS
 *---------------------------*/
.twitter-share-button {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  border-radius: 5%;
}
.fb-like {
  top: -8px;
}











