/*---------------------------------------
 * nav系
 *---------------------------------------*/
/* nav */
nav {
  box-shadow: none;
  background-color: transparent;
}
nav .container .nav-wrapper a {
  color: #bdbdbd;
}
nav ul a {
  font-size: 1.2em;
}
nav i.material-icons {
  font-size: 1.2em;
}
nav .brand-logo {
  font-size: 1.5em;
}
/* SideNav系 */
.side-nav a {
  font-size: 1em;
  color: #fff;
  border-bottom: solid 1px #fff;
  background-color: transparent;
}
.side-nav a.btn {
  width: 100%;
  margin: 0;
}
.side-nav li {
  padding: 0;
}

/*
 * ページネーション
 */
.pagination li.active {
  color: #f5f5f5;
  background-color: #009688;
}

/*
 * parallax
 */
.parallax-container {
  margin-bottom: 20px;
}
.parallax-container .container h1 {
  font-family: 'Amatic SC', 'Condiment', cursive;
  font-size: 5em;
  font-weight: 800;
}
.parallax-container .container .btn-ghost {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid;
  border-color: #fff;
}

/*-------------------------------------------------
 * topのスタイル
 *-------------------------------------------------*/
/* 記事タイトル */
#top-main-content .card .card-content h2 {
  font-size: 1.3em;
}
@media screen and (max-width: 480px) {
  #top-main-content .card .card-content h2 {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  #top-main-content .card .card-reveal .card-title {
    font-size: 1.2em;
  }
}


/*-----------------------------------------------
 * 記事詳細画面のスタイル
 *-----------------------------------------------*/
.article-show {

}
/* 記事タイトル */
.article-show h1 {
  font-size: 1.7em;
}
@media screen and (max-width: 480px) {
  .article-show h1 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
/* 見出し */
.article-show h2 {
  font-size: 1.5em;
  border-left: 10px solid #009688;
  border-bottom: 3px solid #009688;
  padding-left: 13px;
  padding-bottom: 3px;
  margin-top: 1.3em;
}
@media screen and (max-width: 480px) {
  .article-show h2 {
    font-size: 1.3em;
  }
}
/* 本文 */
.article-body p {
  line-height: 2em;
}
/*
 * リスト系
 */
.article-show ul {
  padding: 3px 10px;
  border: solid 2px #607d8b;
}
.article-show li{
  padding:0px;
  margin:0px;
}
.article-show li{
  list-style-type:none !important;
  list-style-image:none !important;
  margin: 10px 0px 5px 0px !important;
  position:relative;
  padding-left:25px;
}
.article-show li:after, .article-show li:before{
  content:'';
  display:block;
  position:absolute;
  top:4px;
  left:8px;
  height:11px;
  width:4px;
  background:#aaa;
  border-radius:10px;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -o-transform:rotate(45deg);
}
.article-show li:before{
  top:8px;
  left:3px;
  height:8px;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
}
.article-show pre {
  padding-left: 10px;
  border: solid 2px #607d8b;
}
.article-show code {
  /* margin-bottom: 10px;*/
  padding: 10px;
  border: solid 2px #607d8b;
}
.article-comment {
  /* margin: 15px auto; */
  border: solid 2px #607d8b;
}
.article-comment.comment-area {

}

/*---------------------------------------------
 *お問い合わせページ
 *---------------------------------------------*/
@media screen and (max-width: 480px) {
  #contact-form h1 {
    font-size: 2em;
  }
}
#contact-form input {
    font-size: 1em;
}
#contact-form textarea {
    font-size: 1em;
}
#contact-form .input-field label {
    font-size: 0.85em;
}

@media screen and (max-width: 480px) {
  #contact-form .input-field label {
    font-size: 1em;
  }
  #contact-form #confirm-check-label {
    font-size: 0.8em;
  }
  #mail-success {
    font-size: 0.95em;
    line-height: 2em;
  }
}












